*{
    margin: 0;
    padding: 0;   
}
body,html {
    width: 100%;
    height: 100%;
    
}
.contenedor-principal{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(155deg, #ff5c0b 0, #ff410d 25%, #f60d0d 50%, #eb000f 75%, #e20015 100%);
    
}
    .contenedor-principal button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border: solid 2px #e29300;
    border-radius: 10px;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-size: 30px;
    width: 70%;
    height: 60px;
    cursor: pointer;
    position: relative;
 overflow: hidden;
    
}
.contenedor-principal button::after{
content: "";
width: 100% ;
height:0;
border-top: 60px solid  #ffaa0dd8;
border-right: 60px solid  transparent;
left:calc(-100% - 60px);
position: absolute;
z-index: 1;
transition: all 1.0s ease-in-out;
}
button:focus::after{
    left:0;
}
.contenedor-principal span{
    z-index: 2;
    }
